@{
    ViewBag.Title = "Inicio";
}

@Html.Hidden("UrlFillCarousel", @Url.Action("FillCarousel", "Home"))

<div class="contentIndex">
    <div class="carousel slide custom-carousel carousel" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators pull-left">
			<li data-target=".carousel" data-slide-to="0" class="active"></li>
			<li data-target=".carousel" data-slide-to="1"></li>
			<li data-target=".carousel" data-slide-to="2"></li>
			<li data-target=".carousel" data-slide-to="3"></li>
		</ol>
		<!-- Wrapper for slides -->
		<div class="carousel-inner dvCarrousel">
			<div id="dvCarrousel0" class="item active">
			</div>

			<div id="dvCarrousel1" class="item">
			</div>

			<div id="dvCarrousel2" class="item">
			</div>

			<div id="dvCarrousel3" class="item">
			</div>

		</div>

		<!-- Controls -->
		<a class="left carousel-control col-sm-12" href=".carousel" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href=".carousel" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
	<div class="panel-news-events" >
		<span class="btn-group-vertical links">
            <a href="@Url.Action("News")">
                <input type="button" value="Noticias" class="btn btn-not-eve btnNoticias" />
            </a>
            <a href="@Url.Action("Events")">
                <input type="button" value="Eventos" class="btn btn-not-eve btnEventos" />
            </a>
		</span>
		<span class="date">
		</span>
		<span class="description">
		</span>
		<span class="profile-social-icons">
			<div class="profiles">
				<div class="btn-group nav-perfil">
		            <button type="button" class="btn btn-default btn-perfil dropdown-toggle drop-profile" data-toggle="dropdown">
		                Elegí tu perfil
		                <span class="glyphicon glyphicon-chevron-right"></span>
		            </button>
		            <ul class="dropdown-menu dd-perfil">
	                    <li class="p-desarrollador">
	                        <a>
	                            <input type="submit" name="ctl00$cphContent$btnProfileDesarrollador" value="Desarrollador" id="cphContent_btnProfileDesarrollador" class="item-dropdown">
	                            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
	                        </a>
	                    </li>
		                <li class="p-estudiante">
		                    <a>
		                        <input type="submit" name="ctl00$cphContent$btnProfileEstudiante" value="Estudiante" id="cphContent_btnProfileEstudiante" class="item-dropdown" />
		                        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
		                    </a>
		                </li>
                        <li class="p-empresa">
                            <a>
                                <input type="submit" name="ctl00$cphContent$btnProfileEmpresa" value="Empresa" id="cphContent_btnProfileEmpresa" class="item-dropdown" />
		                        <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                            </a>
		                </li>
		            </ul>
		        </div>
			</div>
			<div class="social-icons">
				<div>
					<a href="#" class="facebook-icon custom-icon"></a>
					<a href="#" class="twitter-icon custom-icon"></a>
					<a href="#" class="gplus-icon custom-icon"></a>
				</div>
			</div>
		</span>
	</div>
	<div class="space-under-panel">
    </div>
</div>

@section Scripts{
    @System.Web.Optimization.Scripts.Render("~/bundles/carousel")
}